@model int
@{
    ViewBag.Title = "Not Found";
}

<div class="alert alert-danger alert-dismissible mt-3">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
   <h4>
       The customer with Id = @Model not found.
   </h4>
</div>
<a asp-action="webui" asp-controller="home" class="btn btn-outline-success">
    Click on the link to view the list of customers.
</a>